<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<form action="">
  <div class="mb-3">
    <label class="form-label">Search</label>
    <input type="text" name="searchMovie" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
{% if searchTerm %} Searching for {{ searchTerm }} {% endif %}
<br />

<div class="container">
  <h1>Movie reviews!</h1>
  <br />
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
    <div v-for="movie in movies" class="col">
      <a href="{% url 'detail' movie.id %}">
        <div class="card">
          <img class="card-img-top" src="{{ movie.image.url }}" />
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.description }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <h2>Join our mailing list</h2>
  <form action="{% url 'signup' %}">
    <div class="mb-3">
      <label for="email" class="form-label"> Enter your email: </label>
      <input type="email" class="form-control" name="email" />
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>

{% endblock content %}
